body {
    background-color: gray;
}

#page1 {
    margin-top: 37vh;
}

#startButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25vh;
    height: 10vh;
    font-size: xx-large;
    cursor: pointer;
    border-radius: 10vh;
    background-color: snow;
}

#startHighScore {
  text-align: center;
  font-size: 10vh;
  text-underline-position: under;
}

#page2 {
    display: none;
}

#page3 {
  display: none;
}

#finalScore {
  margin-top: 35vh;
  margin-bottom: 0vh;
  text-align: center;
  font-size: 10vh;
}

#finalHighScore {
  margin-top: 1vh;
  text-align: center;
  font-size: 4vh;
}

.stats {
  font-size: 3vw;
}

#highScore {
  text-align: center;
  float: left;
}

#score {
  text-align: center;
  float: right;
}

#playAgain {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 5vh;
  width: 20vh;
  border-radius: 100px;
  font-size: large;
  cursor: pointer;
}

#game {
  display: block;
  height: 100vh;
  width: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.quarter {
    position: absolute;
    width: 50%;
    height: 50%;
    transition: background-color 0.2s ease-in-out;
    z-index: 1;
    cursor: pointer;
  }
  .hoverAbility:hover {
    background-color: pink !important;
  }
  .quarter1 {
    top: 0;
    left: 0;
    background-color: red;
    border-radius: 100vh 0 0 0;
  }
  .quarter2 {
    top: 0;
    right: 0;
    background-color: blue;
    border-radius: 0 100vh 0 0;
  }
  .quarter3 {
    bottom: 0;
    left: 0;
    background-color: orange;
    border-radius: 0 0 0 100vh;
  }
  .quarter4 {
    bottom: 0;
    right: 0;
    background-color: green;
    border-radius: 0 0 100vh 0;
  }
  .cutout {
    width: 50%;
    height: 50%;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 25%;
    border-radius: 50%;
    z-index: 2;
  }